@import '~bootstrap/scss/bootstrap';

h2 {
  margin: 30px 0;
}

.navbar-brand {
  margin-left: 15px;
}

.pagination {
  display: flex;
  justify-content: center;
}
.pagination > li > a {
  border: none;
  color: #999;
}
.pagination > li > a:hover {
  color: rgb(0, 0, 0);
  background-color: white;
}
.pagination > .active > a {
  color: rgb(0, 0, 0);
  background-color: white;
}
.pagination > .active > a:hover {
  background-color: white;
  color: rgb(0, 0, 0);
}

.user {
  text-align: center;
}


.login-form {
  text-align: center;
}


body {
    background-image:  url('../../assets/images/photo-1518655048521-f130df041f66.jpeg'); 
  background-size:  cover;
}

.container {
  opacity: 0.7;
}

.wrap {
  display:flex;
  align-items: center;
  justify-content: center;
  margin:10%;
  margin-left:30px;
  font-size: 30px;
  flex-flow: column;
}

.form-date {
  display: inline-block;
  width: auto;
  padding: 0.375rem 0.75rem;
}

.top-tittle {
  border-bottom: 1px solid;
}

.top-register {
  color:rgb(0, 0, 0);
}

.top-login {
  color:rgb(0, 0, 0);
}

@media screen and (min-width:1024px) {
/*pc用のscssを記述*/
}

@media only screen and (min-width:640px) and (max-width:1023px) {
  /*tablet用のscssを記述*/
}
  
@media screen and (max-width:639px) {
  /*スマホ用のscssを記述*/
  }
     








