<div class="d-flex align-items-center">
  <h1>復習スケジュール一覧</h1>
</div>
<div class="ml-auto boards__linkBox">
    <a class="btn btn-outline-dark">復習スケジュールの登録</a>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">日付</th>
      <th scope="col">教材</th>
      <th scope="col">学習範囲</th>
      <th scope="col">勉強時間</th>
    </tr>
  </thead>
  <tbody>
    <ul>
    <% @memories.each do |memory| %>
      <td><%= memory.timestamps %></td>
      <td><%= memory.text %></td>
      <td><%= memory.range %></td>
      <td><%= memory.time %></td>
    <% end %>
    </ul>
  </tbody>
</table> 

