<!DOCTYPE html>
<html>
<head>
  <title>review_schedule</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <nav class="navbar navbar-fixed-top header">
      <div class="container-fluid">
        <div class="navbar-header">
          
        </div><!-- .navbar-header -->

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            
          </ul>
        </div>
      </div>
    </nav><!-- .header -->

    <div class="app container-fluid left-sidebar">
      <div class="sidebar">
        <ul class="nav nav-sidebar">
          
        </ul>
      </div><!-- .sidebar -->

      <div class="main">
        <%= yield %>
      </div><!-- .main -->
    </div><!-- .app -->
  </div><!-- .wrapper -->

  <%= javascript_pack_tag 'application' %>
</body>
</html>
